<?xml version="1.0"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true"/>
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5.2" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5.2"/>
    <httpRuntime targetFramework="4.5"/>
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web"/>
    </httpModules>
  </system.web>
  <system.serviceModel>
    <services>
      <service name="WcfLaparisServiceORM.ServicePersonaUsuarios">
        <endpoint address="rest" binding="webHttpBinding" behaviorConfiguration="WcfLaparisORM_Behavior_Rest" contract="WcfLaparisServiceORM.IServicePersonaUsuarios"/>
        <endpoint address="soap" binding="basicHttpBinding" behaviorConfiguration="WcfLaparisORM_Behavior_Soap" contract="WcfLaparisServiceORM.IServicePersonaUsuarios"/>
      </service>
      <service name="WcfLaparisServiceORM.ServiceServicioDetalles">
        <endpoint address="rest" binding="webHttpBinding" behaviorConfiguration="WcfLaparisORM_Behavior_Rest" contract="WcfLaparisServiceORM.IServiceServicioDetalles"/>
        <endpoint address="soap" binding="basicHttpBinding" behaviorConfiguration="WcfLaparisORM_Behavior_Soap" contract="WcfLaparisServiceORM.IServiceServicioDetalles"/>
      </service>
      <service name="WcfLaparisServiceORM.ServiceAgenda">
        <endpoint address="rest" binding="webHttpBinding" behaviorConfiguration="WcfLaparisORM_Behavior_Rest" contract="WcfLaparisServiceORM.IServiceAgenda"/>
        <endpoint address="soap" binding="basicHttpBinding" behaviorConfiguration="WcfLaparisORM_Behavior_Soap" contract="WcfLaparisServiceORM.IServiceAgenda"/>
      </service>
      <service name="WcfLaparisServiceORM.ServiceMarcas">
        <endpoint address="rest" binding="webHttpBinding" behaviorConfiguration="WcfLaparisORM_Behavior_Rest" contract="WcfLaparisServiceORM.IServiceMarcas"/>
        <endpoint address="soap" binding="basicHttpBinding" behaviorConfiguration="WcfLaparisORM_Behavior_Soap" contract="WcfLaparisServiceORM.IServiceMarcas"/>
      </service>
      <service name="WcfLaparisServiceORM.ServiceCategorias">
        <endpoint address="rest" binding="webHttpBinding" behaviorConfiguration="WcfLaparisORM_Behavior_Rest" contract="WcfLaparisServiceORM.IServiceCategorias"/>
        <endpoint address="soap" binding="basicHttpBinding" behaviorConfiguration="WcfLaparisORM_Behavior_Soap" contract="WcfLaparisServiceORM.IServiceCategorias"/>
      </service>
      <service name="WcfLaparisServiceORM.ServiceSucursal">
        <endpoint address="rest" binding="webHttpBinding" behaviorConfiguration="WcfLaparisORM_Behavior_Rest" contract="WcfLaparisServiceORM.IServiceSucursal"/>
        <endpoint address="soap" binding="basicHttpBinding" behaviorConfiguration="WcfLaparisORM_Behavior_Soap" contract="WcfLaparisServiceORM.IServiceSucursal"/>
      </service>
      <service name="WcfLaparisServiceORM.ServiceProductos">
        <endpoint address="rest" binding="webHttpBinding" behaviorConfiguration="WcfLaparisORM_Behavior_Rest" contract="WcfLaparisServiceORM.IServiceProductos"/>
        <endpoint address="soap" binding="basicHttpBinding" behaviorConfiguration="WcfLaparisORM_Behavior_Soap" contract="WcfLaparisServiceORM.IServiceProductos"/>
      </service>
      <service name="WcfLaparisServiceORM.ServiceLogin">
        <endpoint address="rest" binding="webHttpBinding" behaviorConfiguration="WcfLaparisORM_Behavior_Rest" contract="WcfLaparisServiceORM.IServiceLogin"/>
        <endpoint address="soap" binding="basicHttpBinding" behaviorConfiguration="WcfLaparisORM_Behavior_Soap" contract="WcfLaparisServiceORM.IServiceLogin"/>
      </service>
    </services>
    <behaviors>
      <endpointBehaviors>
        <behavior name="WcfLaparisORM_Behavior_Rest">
          <webHttp/>
        </behavior>
        <behavior name="WcfLaparisORM_Behavior_Soap">
          <!--No lleva un comportamiento pues el servicio es SOAP por defecto-->
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https"/>
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true"/>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="ApplicationInsightsWebTracking"/>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler"/>
    </modules>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
    <validation validateIntegratedModeConfiguration="false"/>
  </system.webServer>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb"/>
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
  <!--<connectionStrings>
    <add name="ServiciosCS" connectionString="data source=MANUEL\PROYECTO;initial catalog=BDLaParis;integrated security=True;MultipleActiveResultSets=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  -->
  <connectionStrings>
    <add name="ServiciosCS" connectionString="Server=tcp:laparis.database.windows.net,1433;Initial Catalog=BDLaParis;Persist Security Info=False;User ID=manuellozano@laparis;Password=Erdjs902kdsl;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>